@import "../../../styles.scss";

.results {
    padding: 2rem 0 2rem 0;
    width: 100%;
}

.user-card {
    width: 20rem;
}

.repos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
    &__repo {

        display: flex;
        align-items: center;
        gap: 2rem;
        max-width: 40rem;

        cursor: pointer;
    
        &__name {
            
            width: 10rem;
            text-transform: capitalize;
            font-weight: bold;
        }
    
        &__details {
            max-width: 20rem;
            display:flex;
            flex-direction: column;

            &__stars {
                display: flex;
                align-items: center;

                & mat-icon {
                    color: #ebb734;
                }
            }

            & p {
                margin: 0;
            }
        }
    }
}


@media screen and (max-width: 749px) {

    .results {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .user-card {

    }
    .repos {
        &__repo {
            flex-direction: column;
            gap: 1rem;
        }
    }
}

@media screen and (min-width: 748px) {
    .user-card {
        position: fixed;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    }

    .repos {
        position: relative;
        width: 40%;
        left: 50%;

    }
}