<mat-card class="user-card">
  <mat-card-header>
    <mat-card-title>{{this.userinfo.name}}</mat-card-title>
    <mat-card-subtitle>@{{this.userinfo.login}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{this.userinfo.avatar_url}} alt="User avatar">
  <mat-card-content>
    <p>
      {{this.userinfo.bio}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <span>Seguidores: {{this.userinfo.followers}}</span>
    <span>Seguindo: {{this.userinfo.following}}</span>
  </mat-card-actions>
</mat-card>