<div class="buscador" (keydown.enter)='this.buscar(this.value)'>
  <mat-form-field class="example-form-field">
    <mat-label>Nome de Usuário</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button 
    mat-mini-fab 
    color="warn" 
    (click) = 'this.buscar(this.value)'
    class="buscador__btn"
    >
    <mat-icon>search</mat-icon>
  </button>
</div>